.button {
  background-color: #ff69b4;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  margin: 10px;
  user-select: none;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s, transform 0.3s;
}

.button:before {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2em;
}

.button:not(:disabled):hover {
  background-color: #ff1493;
  transform: scale(1.05);
}

.button:active {
  background-color: #ff1493;
  transform: scale(0.95);
}

.button:disabled {
  background-color: #d3d3d3;
  cursor: not-allowed;
  user-select: none;
}

.button:disabled {
  background-color: #d3d3d3;
  cursor: not-allowed;
  user-select: none;
}
