.container {
  padding: 10px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.paragraph {
  font-size: 16px;
  text-align: justify;

  user-select: none; /* Prevents selection in most modern browsers */
  -webkit-user-select: none; /* Chrome/Safari */
  -ms-user-select: none; /* IE/Edge */
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
