.dot {
  width: 10px;
  height: 10px;
  background-color: #4e4f51;
  border-radius: 50%;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
}

.dot span {
  opacity: 0;
  pointer-events: all;
}

.dot span::after {
  content: attr(title);
}
/* 
.dot span:hover::after {
  opacity: 0;
  display: block;
} */

.bigDot {
  width: 20px;
  height: 20px;
}

.historyItem {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.historyItem .dot {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.current {
  background-color: #00ec91 !important;
}

.completed {
  background-color: #a33c00 !important;
}
