.challengesContainer {
  flex: 1;
  overflow-y: auto;
  user-select: none;
}

.textContainer {
  /* flex: 1; */
  overflow-y: auto;
  user-select: none;
}

.divider {
  width: 2px;
  margin: 10px;
  background-color: #000000;
  cursor: ew-resize;
  user-select: none;
}

.responsiveContainer {
  display: flex;
  flex-direction: column;
  user-select: none;
  flex-grow: 1;
  flex: 1;
}

@media (min-width: 768px) {
  .responsiveContainer {
    flex-direction: row;
  }

  .textContainer,
  .challengesContainer {
    width: auto;
    max-height: 100vh;
  }
}
