.bookContainer {
  width: 100%;
  max-width: 56rem; /* previously max-w-4xl */
  height: 60vh;
  max-height: 600px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}
.challengesContainer .textContainer {
  overflow-y: hidden;
  user-select: none;
  width: auto;
  max-height: 100%;
}

.divider {
  width: 2px;
  margin: 10px;
  background-color: #000000;
  cursor: ew-resize;
  user-select: none;
}

.responsiveContainer {
  display: flex;
  flex-direction: column;
  user-select: none;
  flex-grow: 1;
  flex: 1;
}
