.container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inputContainer {
  flex: 1;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.explaination {
  font-size: 0.8em;
  color: rgb(255, 0, 0);
  margin-bottom: 10px;
  user-select: none;
  margin-left: 20px;
  margin-right: 20px;
}

.question {
  margin-left: 20px;
  margin-right: 20px;
  color: rgb(0, 0, 128);
  font-size: 1.1em;
  margin-bottom: 10px;
  user-select: none;
}

.input {
  border: 2px solid #00008b;
  border-radius: 5px;
  padding: 5px;
  font-size: 1em;
  width: calc(100% - 40px);
  margin-right: 10px;
  margin-left: 20px;
  user-select: none;
}

.answer {
  display: flex;
  align-items: center;
}

.answerVerification {
  width: 16;
}
