.gradeGroup {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.smallDotsRow {
  display: flex;
  align-items: center;
}

.smallDot {
  border-radius: 50%;
  transition: width 1s cubic-bezier(0.4, 0, 0.2, 1),
    height 1s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.3s,
    margin 1s cubic-bezier(0.4, 0, 0.2, 1), transform 0.3s ease-in-out;
  width: 0;
  height: 0;
  background-color: #bdbdbd;
}

.smallDot:hover {
  transform: scale(1.4);
}

.noHover:hover {
  transform: none;
}

.completed {
  background-color: rgb(48, 213, 200);
}

.active {
  background-color: rgb(0, 0, 128);
}

.remaining {
  background-color: rgb(170, 170, 162);
}

.incorrect {
  background-color: rgb(255, 0, 0);
}

.smallDot.expanded {
  width: 10px;
  height: 10px;
  margin: 2px;
}

.smallDot.collapsed {
  width: 0;
  height: 0;
}

.selected {
  border: 1px solid #4e4f51;
}

.bigDot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  margin: 4px;
  cursor: pointer;
}

.grow {
  transition: transform 0.3s ease-in-out;
}
