.rewardPage {
  width: 100%;
  /* padding: 20px; */
}

.heading {
  font-size: x-large;
  font-weight: bold;
  display: inline;
  margin: 20px;
  width: auto;
}

.balanceContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.tableContainer {
  max-height: calc(100vh - 40px - 20px);
  overflow-y: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead {
  position: sticky;
  top: 0;
  background-color: white; /* Adjust the background color as needed */
  z-index: 100;
}

.table th,
.table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.rewardPage table {
  width: 100%;
  border-collapse: collapse;
}

.rewardPage th,
.rewardPage td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

.rewardPage th {
  background-color: #f2f2f2;
}

.centerAlign {
  text-align: center !important;
}

.shrink {
  white-space: nowrap;
  width: 1%;
  max-width: max-content;
}
