.rewardPage {
  flex-direction: column;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.tableContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: calc(100vh - 40px);
}

.rewardBottomBar {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: white;
  height: 40px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
}

.rewardPage table {
  width: 100%;
  border-collapse: collapse;
}

.rewardPage th,
.rewardPage td {
  vertical-align: top;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

.rewardPage th {
  background-color: #f2f2f2;
}

.centerAlign {
  text-align: center !important;
}

.shrink {
  white-space: nowrap;
  width: 1%;
  max-width: max-content;
}

.rewardBottomBar > * {
  flex: 1;
  text-align: center;
}

.leftAlign {
  text-align: left;
}

.rightAlign {
  text-align: right;
}

.balance {
  font-size: x-large;
  font-weight: bold;
  margin: 5px;
}
