.rewardEntry {
  display: table-row;
  height: auto;
}

.rewardEntry.approved > td {
  background-color: #d4edda; /* light green background */
  color: #155724; /* dark green text */
}

.rewardEntry > td {
  padding: 8px;
  height: fit-content;
}

.actionButton {
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.greenButton {
  background-color: #4caf50;
}

.greenButton:hover:not(.disabledButton) {
  background-color: #45a049;
}

.redButton {
  background-color: #f44336;
}

.redButton:hover:not(.disabledButton) {
  background-color: #e53935;
}

.greyButton {
  background-color: #9e9e9e;
}

.greyButton:hover:not(.disabledButton) {
  background-color: #757575;
}

.disabledButton {
  cursor: not-allowed;
  opacity: 0.2;
}

.error {
  border: 2px solid red;
}

.spinnerContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinnerContainer .spinner {
  position: absolute;
  z-index: 1;
}

.transparentTd {
  background-color: transparent !important;
}

.dollarCell {
  text-align: right;
}

.shrink {
  white-space: nowrap;
  width: 1%;
  max-width: max-content;
}

.tooltip {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  z-index: 10000;
  white-space: nowrap;
  font-size: 12px;
  transform: translate(-50%, -100%);
  /* top: -5px;
  left: 50%; */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.showTooltip {
  opacity: 1;
}
