.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.mainContent {
  background-color: #aa7520;
  padding: 20px;
  border-radius: 10px;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  margin: auto;
}

.progressBar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
}

.inactiveTracker {
  width: 100%;
  height: 15px;
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}
