.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.tile {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  border-radius: 10px;
  transition: transform 0.3s;
  font-size: 3rem; /* Increase emoji size */
}
.link {
  text-decoration: none; /* Remove underline */
}
.tile:hover {
  animation: wiggle 1s 1;
}

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
}

@media (min-width: 768px) {
  .tiles {
    flex-direction: row;
  }
}

@media (max-width: 767px) {
  .tiles {
    flex-direction: column;
  }
}
