.container {
  background-color: #f0f8ff;
  padding: 50px 20px 20px;
  border-radius: 10px;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  max-width: 800px;
  margin: auto;
}

.title {
  color: #ff69b4;
  font-size: 2em;
  text-align: center;
}

.paragraph {
  color: #00008b;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.question {
  color: #ff4500;
  font-size: 1.1em;
  margin-bottom: 10px;
}

.input {
  border: 2px solid #00008b;
  border-radius: 5px;
  padding: 5px;
  font-size: 1em;
  margin-bottom: 10px;
  width: calc(100% - 40px);
  margin-right: 10px;
}

.correctAnswers {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 1.2em;
  color: #00008b;
}
