.title {
  color: #ff69b4;
  font-size: 1.3em;
  text-align: center;
}

.paragraph {
  color: #00008b;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.question {
  color: #ff4500;
  font-size: 1.1em;
  margin-bottom: 10px;
}

.input {
  border: 2px solid #00008b;
  border-radius: 5px;
  padding: 5px;
  font-size: 1em;
  margin-bottom: 10px;
  width: calc(100% - 40px);
  margin-right: 10px;
}

.correctAnswers {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 1.2em;
  color: #00008b;
}

.textContainer {
  flex: 1;
  overflow-y: auto;
}

.qnaContainer {
  flex: 1;
  overflow-y: auto;
}

.divider {
  width: 5px;
  margin: 10px;
  background-color: #000000;
  cursor: ew-resize;
}

.button:disabled {
  background-color: #d3d3d3;
  cursor: not-allowed;
}

.buttonContainer {
  text-align: center;
}

.button {
  background-color: #ff69b4;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  margin: 10px;
}

.responsiveContainer {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .responsiveContainer {
    flex-direction: row;
  }

  .textContainer,
  .qnaContainer {
    width: auto;
    max-height: 100vh;
  }
}
