.challengesContainer {
  flex: 1;
  overflow-y: auto;
}

.textContainer {
  flex: 1;
  overflow-y: auto;
}

.divider {
  width: 5px;
  margin: 10px;
  background-color: #000000;
  cursor: ew-resize;
}

.responsiveContainer {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .responsiveContainer {
    flex-direction: row;
  }

  .textContainer,
  .challengesContainer {
    width: auto;
    max-height: 100vh;
  }
}
