.title {
  color: #ff69b4;
  font-size: 1.3em;
  text-align: center;
}

.reportList {
  list-style-type: none;
  padding: 0;
}

.reportItem {
  border: 1px solid #00008b;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.reportItem:hover {
  background-color: #f0f8ff;
}

.topic {
  color: #ff4500;
  font-size: 1.1em;
}

.correctAnswers {
  color: #00008b;
  font-size: 1em;
}
