.button {
  background-color: #ff69b4;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  margin: 10px;
  user-select: none;
}

.button:disabled {
  background-color: #d3d3d3;
  cursor: not-allowed;
  user-select: none;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

.scores {
  flex-grow: 1;
  font-weight: bold;
  user-select: none;
}
