.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  user-select: none;
  padding: 0px;
  margin: 0px;
}

.historyContainer {
  list-style-type: none;
  padding: 20px;
  margin: 0px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1 1 auto;
  user-select: none;
}

.scoreContainer {
  user-select: none;
  margin: 20px;
  padding: 10px;

  display: flex;
  flex-direction: row;
  align-items: stretch; /* Ensure children stretch */
}

.historyItem {
  border: 1px solid #00008b;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  user-select: none;
}

.historyItem:hover {
  background-color: #f0f8ff;
  user-select: none;
}

.topic {
  color: #ff4500;
  font-size: 1.1em;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 10px;
  user-select: none;
}

.score {
  color: #000000;
  font-size: 1.1em;
  user-select: none;
}
